<H1>1) Data Load </H1>


1.1  Import All Spark Libraries

In [2]:

import  org.apache.spark._ 
import  spark.implicits._
import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.SQLContext
import org.apache.spark.{SparkContext, SparkConf}
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.ml.feature.Imputer

import org.apache.spark._
import spark.implicits._
import org.apache.spark.sql.expressions.Window
import org.apache.spark.sql.SQLContext
import org.apache.spark.{SparkContext, SparkConf}
import org.apache.spark.sql.types._
import org.apache.spark.sql.functions._
import org.apache.spark.ml.feature.Imputer

1.2 Read the Weather input file - this is stored in the local file directory

In [3]:
val weather_org_df = spark.
        read.
        option("inferSchema", "true").
        option("header","true").
        option("mode","DROPMALFORMED").
        option("delimiter", ",").
        csv("weatherAUS.csv")

weather_org_df: org.apache.spark.sql.DataFrame = [Date: timestamp, Location: string ... 22 more fields]

1.3 Check the Schema of the Data frame

In [4]:
weather_org_df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- Evaporation: string (nullable = true)
 |-- Sunshine: string (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: string (nullable = true)
 |-- WindSpeed3pm: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Pressure9am: string (nullable = true)
 |-- Pressure3pm: string (nullable = true)
 |-- Cloud9am: string (nullable = true)
 |-- Cloud3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: double (nullable = true)
 |-- RainTomorrow: string (nullable = true)

1.4 Transform the Dataframe columns to correct column type for effective use

In [5]:
val weather_org_df_cast = weather_org_df.withColumn("Date",to_date($"Date","dd/MM/yyyy"))
            .withColumn("MinTemp",col("MinTemp").cast(DoubleType))
            .withColumn("MaxTemp",col("MaxTemp").cast(DoubleType))
            .withColumn("Rainfall",col("Rainfall").cast(DoubleType))
            .withColumn("Evaporation",col("Evaporation").cast(DoubleType))
            .withColumn("Sunshine",col("Sunshine").cast(DoubleType))
            .withColumn("WindGustSpeed",col("WindGustSpeed").cast(DoubleType))
            .withColumn("WindSpeed9am",col("WindSpeed9am").cast(DoubleType))
            .withColumn("WindSpeed3pm",col("WindSpeed3pm").cast(DoubleType))
            .withColumn("Humidity9am",col("Humidity9am").cast(DoubleType))
            .withColumn("Humidity3pm",col("Humidity3pm").cast(DoubleType))
            .withColumn("Pressure9am",col("Pressure9am").cast(DoubleType))
            .withColumn("Pressure3pm",col("Pressure3pm").cast(DoubleType))
            .withColumn("Cloud9am",col("Cloud9am").cast(DoubleType))
            .withColumn("Cloud3pm",col("Cloud3pm").cast(DoubleType))
            .withColumn("Temp9am",col("Temp9am").cast(DoubleType))
            .withColumn("Temp3pm",col("Temp3pm").cast(DoubleType))
weather_org_df_cast.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: double (nullable = true)
 |-- MaxTemp: double (nullable = true)
 |-- Rainfall: double (nullable = true)
 |-- Evaporation: double (nullable = true)
 |-- Sunshine: double (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: double (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: double (nullable = true)
 |-- WindSpeed3pm: double (nullable = true)
 |-- Humidity9am: double (nullable = true)
 |-- Humidity3pm: double (nullable = true)
 |-- Pressure9am: double (nullable = true)
 |-- Pressure3pm: double (nullable = true)
 |-- Cloud9am: double (nullable = true)
 |-- Cloud3pm: double (nullable = true)
 |-- Temp9am: double (nullable = true)
 |-- Temp3pm: double (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: double (nullable = true)
 |-- RainTomorrow: string (nullable = true)

weather_org_df_cast: org.apache.spark.sql.DataFrame = [Date: date, Location: string ... 22 more fields]

1.5 Basic checks to make sure all records are loaded from source

In [6]:
weather_org_df_cast.count() // count of records for confirmation that all records are loaded

res2: Long = 142193

1.6 Create table for easy data manipulations

In [7]:
weather_org_df_cast.createOrReplaceTempView("Aus_Rain_Data")  // Create table for easy manipulations

In [8]:
spark.sql("select * from Aus_Rain_Data").show(5) // First look at the data

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       null|    null|          W|         44.0|         W|       WNW|        20.0|        24.0|       71.0|       22.0|     1007.7|     1007.1|     8.0|    null|   16.9|   21.8|       No|    0.0|          No|
|2008-12-02|  Albury|    7.4|   25.1|     0.0|       null|    null|        WNW|         44.0|       NNW|       WSW|         4.0|        22.0|       44.0|       25.0|     1010.6|     1007.8|    null|    null|   17.2|   24.3|       No|    0.0|          No|
|2008-12-03|  Albury|   12.9|   25.7|     0.0|       null|    null|        WSW|         46.0|         W|       WSW|        19.0|        26.0|       38.0|       30.0|     1007.6|     1008.7|    null|     2.0|   21.0|   23.2|       No|    0.0|          No|
|2008-12-04|  Albury|    9.2|   28.0|     0.0|       null|    null|         NE|         24.0|        SE|         E|        11.0|         9.0|       45.0|       16.0|     1017.6|     1012.8|    null|    null|   18.1|   26.5|       No|    1.0|          No|
|2008-12-05|  Albury|   17.5|   32.3|     1.0|       null|    null|          W|         41.0|       ENE|        NW|         7.0|        20.0|       82.0|       33.0|     1010.8|     1006.0|     7.0|     8.0|   17.8|   29.7|       No|    0.2|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
only showing top 5 rows

# 2 Data Analysis

2.1 Weather stations Data collected

In [9]:
val weather_dist_Location = weather_org_df_cast.select($"Location").groupBy("Location").count()
weather_dist_Location.count() // Number of Locations data collected

weather_dist_Location: org.apache.spark.sql.DataFrame = [Location: string, count: bigint]
res5: Long = 49

In [10]:
spark.sql("SELECT distinct location from Aus_Rain_Data order by Location").show(49) // Check the location of the weather stations

+----------------+
|        location|
+----------------+
|        Adelaide|
|          Albany|
|          Albury|
|    AliceSprings|
|   BadgerysCreek|
|        Ballarat|
|         Bendigo|
|        Brisbane|
|          Cairns|
|        Canberra|
|           Cobar|
|    CoffsHarbour|
|        Dartmoor|
|          Darwin|
|       GoldCoast|
|          Hobart|
|       Katherine|
|      Launceston|
|       Melbourne|
|MelbourneAirport|
|         Mildura|
|           Moree|
|    MountGambier|
|     MountGinini|
|       Newcastle|
|            Nhil|
|       NorahHead|
|   NorfolkIsland|
|       Nuriootpa|
|      PearceRAAF|
|         Penrith|
|           Perth|
|    PerthAirport|
|        Portland|
|        Richmond|
|            Sale|
|      SalmonGums|
|          Sydney|
|   SydneyAirport|
|      Townsville|
|     Tuggeranong|
|           Uluru|
|      WaggaWagga|
|         Walpole|
|        Watsonia|
|     Williamtown|
|     Witchcliffe|
|      Wollongong|
|         Woomera|
+----------------+

<b>Data is available in 49 weather stations </b>

2.2 Number of Years The records are available

In [11]:

spark.sql("select date as First_record from Aus_Rain_Data order by date limit 1 ").show()
spark.sql("select date as Last_Record from Aus_Rain_Data order by date desc limit 1 ").show()

+------------+
|First_record|
+------------+
|  2007-11-01|
+------------+

+-----------+
|Last_Record|
+-----------+
| 2017-06-25|
+-----------+

<b>Data is availble for from Nov 2007 to June 2017 - Nearly 10 years records . </b>

2.3 Data Range across Data

In [12]:
weather_org_df_cast.select("MinTemp","MaxTemp","Temp9am","Temp3pm","Pressure9am","Pressure3pm").describe().show()
weather_org_df_cast.select("WindGustSpeed","WindSpeed9am","WindSpeed3pm","Rainfall","Evaporation","Sunshine").describe().show()
weather_org_df_cast.select("Cloud9am","Cloud3pm","Humidity9am","Humidity3pm").describe().show()

+-------+------------------+-----------------+-----------------+-----------------+------------------+-----------------+
|summary|           MinTemp|          MaxTemp|          Temp9am|          Temp3pm|       Pressure9am|      Pressure3pm|
+-------+------------------+-----------------+-----------------+-----------------+------------------+-----------------+
|  count|            141556|           141871|           141289|           139467|            128179|           128212|
|   mean|12.186399728729263|23.22678419127248|16.98750858170129|21.68723497314778|1017.6537584159663|1015.258203537901|
| stddev| 6.403282674671343|7.117618141018147|6.492838325478932|6.937593868533731|7.1054757115203016|7.036676783493396|
|    min|              -8.5|             -4.8|             -7.2|             -5.4|             980.5|            977.1|
|    max|              33.9|             48.1|             40.2|             46.7|            1041.0|           1039.6|
+-------+------------------+-----------------+-----------------+-----------------+------------------+-----------------+

+-------+------------------+-----------------+-----------------+-----------------+------------------+------------------+
|summary|     WindGustSpeed|     WindSpeed9am|     WindSpeed3pm|         Rainfall|       Evaporation|          Sunshine|
+-------+------------------+-----------------+-----------------+-----------------+------------------+------------------+
|  count|            132923|           140845|           139563|           140787|             81350|             74377|
|   mean| 39.98429165757619|  14.001988000994|18.63757586179718|2.349974074310995|5.4698242163490995| 7.624853113193616|
| stddev|13.588800765487786|8.893337098234486|8.803345036235541|8.465172917616444| 4.188536508895148|3.7815249942144633|
|    min|               6.0|              0.0|              0.0|              0.0|               0.0|               0.0|
|    max|             135.0|            130.0|             87.0|            371.0|             145.0|              14.5|
+-------+------------------+-----------------+-----------------+-----------------+------------------+------------------+

+-------+------------------+-----------------+------------------+------------------+
|summary|          Cloud9am|         Cloud3pm|       Humidity9am|       Humidity3pm|
+-------+------------------+-----------------+------------------+------------------+
|  count|             88536|            85099|            140419|            138583|
|   mean| 4.437189391885787|4.503166899728551|  68.8438103105705|51.482606091656265|
| stddev|2.8870155257336068|2.720632530403662|19.051292535336284|20.797771843698907|
|    min|               0.0|              0.0|               0.0|               0.0|
|    max|               9.0|              9.0|             100.0|             100.0|
+-------+------------------+-----------------+------------------+------------------+

<b>Data across the entire population of data might give wrong interpretation . Lets look at by location as Australia is very big country and weather across different States vary too much</b>

2.4 Data Range across Different Location

In [15]:
// Partition the data to get by location & Date

val winp1 = Window.partitionBy("Location").orderBy(col("Date"))
    weather_org_df.withColumn("row",row_number.over(winp1))
      .where($"row" === 1).drop("row")

val winp2 = Window.partitionBy("Location")
    val aggDF = weather_org_df.withColumn("row",row_number.over(winp1))
    .withColumn("MinTempavg", avg(col("MinTemp")).over(winp2))
    .withColumn("MaxTempavg", avg(col("MaxTemp")).over(winp2))
    .withColumn("Rfavg", avg(col("Rainfall")).over(winp2))
    .withColumn("Rfavg", avg(col("Rainfall")).over(winp2))
    .withColumn("WindGSavg", avg(col("WindGustSpeed")).over(winp2))
    
      .where(col("row")===1).select("Location","MinTempavg","MaxTempavg","Rfavg","WindGSavg")
      .orderBy("Location").show(49)  // show all Weather station locations

2020-05-27 14:34:16,461 WARN  [Thread-4] util.Utils (Logging.scala:logWarning(66)) - Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.debug.maxToStringFields' in SparkEnv.conf.
+----------------+------------------+------------------+------------------+------------------+
|        Location|        MinTempavg|        MaxTempavg|             Rfavg|         WindGSavg|
+----------------+------------------+------------------+------------------+------------------+
|        Adelaide|12.628367875647646|22.945401554404082| 1.572185430463575| 36.53081186827519|
|          Albany|12.948461278322574|20.072587131367285| 2.255073431241649|              null|
|          Albury|  9.52089850249585|22.630963455149466| 1.925710464727508| 32.95301566144619|
|    AliceSprings|13.125181518151814|29.244191419141917|0.8693553719008265| 40.53371351895337|
|   BadgerysCreek|11.136899862825791|24.023111111111124|2.2079249217935253| 33.60989010989011|
|        Ballarat| 7.355302279484644|18.274793524942158| 1.688829963539929|44.978695073235684|
|         Bendigo|  8.59106495219255|21.616683151994728|1.6214521452145108|38.849283094364786|
|        Brisbane| 16.41099841521393| 26.44152676591707|3.1605363984674373| 28.21137952956135|
|          Cairns|21.199196518245742|29.544344042837974| 5.765317139001365| 38.06799057556378|
|        Canberra| 6.827688250805757|20.980644216691047|1.7350382128159827|  40.0821740537043|
|           Cobar| 13.12034182305631| 25.83408101774354|1.1292617449664417|36.728813559322035|
|    CoffsHarbour|14.365774313791945|23.915575161180858|  5.05459183673471| 39.23219696969697|
|        Dartmoor| 8.619816138917264|19.694427454977948| 2.148553929908119| 38.89690370874447|
|          Darwin|23.210529614540917| 32.54097744360893| 5.094047619047625| 40.58235480799746|
|       GoldCoast| 17.34149043303128|25.752970795568952|3.7289329685362627|42.472538860103626|
|          Hobart| 9.079140526976161|17.866677125823653| 1.604272698711901| 47.53139791732408|
|       Katherine| 20.53498349834985| 34.93903708523091|3.1355987055016175|  38.7583278902678|
|      Launceston| 7.833818181818179|18.956231404958686|2.0122185430463535| 35.63087695898633|
|       Melbourne|11.788126540673797| 20.86014790468364|1.8377719756309814| 45.42544403139199|
|MelbourneAirport| 9.973944832170167|20.491857760053122|1.4519774011299402| 46.91917167668671|
|         Mildura|  10.7339541070835| 24.84153641503151|0.9450249584026625| 37.17082917082917|
|           Moree|12.786255259467062| 26.88686054660126|1.6032963095664614| 39.79942487419123|
|    MountGambier| 8.827467811158806| 19.82812809508089|2.0873593646591515| 42.86909943086709|
|     MountGinini|3.6511929824561404|11.777946768060843|3.2452414772727214| 46.18821362799263|
|       Newcastle|13.740239790183637|24.098282647584846| 3.153021509047461|              null|
|            Nhil| 8.992797960484381|22.398406628425754|0.9329073482428145|42.542437779195915|
|       NorahHead|15.375196985268934|22.607900136798932| 3.382479224376734|42.215042735042736|
|   NorfolkIsland|16.839959500506236| 21.79274628879893| 3.137567934782603| 42.63997262149213|
|       Nuriootpa|  9.36643263122702|21.714657762938188|1.3813751668891827|40.660720296196565|
|      PearceRAAF|12.386313868613142|26.271048798252004|1.6343537414965963| 43.44854881266491|
|         Penrith|12.533649289099511| 24.73198380566811|2.1351425626932192| 31.79438620223199|
|           Perth|12.922705919198231|25.034837092731838|1.9062950203570268|34.882998745294856|
|    PerthAirport|  12.5803589232303| 25.53323363243602|1.7616483881688256| 44.20182247721903|
|        Portland| 9.585537328423172|18.055626043405685| 2.531032171581759|42.058882907133246|
|        Richmond|11.346070091868002|24.449813242784405|2.1525808671713578| 34.86035422343324|
|            Sale| 8.561220406802276|20.271023674558162|1.5126671122994568| 42.47452896022331|
|      SalmonGums| 9.302578018995934| 24.24920365977637| 1.032301938116285|39.761086283946376|
|          Sydney|14.865056988602275|23.002338830584726|3.3302311618132627|41.761408083441985|
|   SydneyAirport|14.894041278295612| 23.37890183028289| 2.995334888370546|47.222071767095464|
|      Townsville|20.411250412405153|29.362973953181562|3.4886025768087214| 38.80405181002989|
|     Tuggeranong| 7.245612278945606|20.777444110777438|2.1590402162892834| 35.18961474036851|
|           Uluru|14.406982872200256|30.387442472057817|0.7073235685752333| 41.36923076923077|
|      WaggaWagga| 9.562029569892472| 22.96129032258059|1.7060851926977643|36.566146540027134|
|         Walpole|11.915710723192051|20.566820768136616|2.8773285198555856| 39.75305096913137|
|        Watsonia|10.126227865018391|20.883527842614196| 1.847692307692302|38.057296932928885|
|     Williamtown|12.820376175548573|24.147019607843177|3.5109848484848385| 41.75369458128079|
|     Witchcliffe|10.756861413043486| 21.69942314217853|2.8996580027359733|39.980258679373726|
|      Wollongong|  14.9490578734859| 21.47651006711409|3.5891267414203223| 45.69525731584258|
|         Woomera| 13.31389819156064| 26.54213520749662|0.4899463806970519|44.080962059620596|
+----------------+------------------+------------------+------------------+------------------+

winp1: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@1d388b0
winp2: org.apache.spark.sql.expressions.WindowSpec = org.apache.spark.sql.expressions.WindowSpec@4efc88e5
aggDF: Unit = ()

<b>As expected, We can see that there is a wide difference in the Weather conditions across , for example In Tuggeranog station the Average Min Tem is 7.24 but the average in Darwin is 23.2 </b>

2.5 Check the Null / NA columns acorss the data Range to decide on the data wrangling requirement

In [16]:
// Checking null Values across all acolumns at once !!! 

weather_org_df_cast.select(weather_org_df_cast.columns.map(colName => {
    count(when(col(colName).isNull, true) || when(col(colName)==="", true)) as s"${colName}"
  }): _*)
  .show()

+----+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RISK_MM|RainTomorrow|
+----+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+
|   0|       0|    637|    322|    1406|      60843|   67816|          0|         9270|         0|         0|        1348|        2630|       1774|       3610|      14014|      13981|   53657|   57094|    904|   2726|        0|      0|           0|
+----+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+-------+------------+

<b>There is significantly large missing data in Evaporation , Sunshine and Cloud Data set . In the next feature during the Feature selection for modeling we need to make note of this.</b>

<H1>3) Data Analysis using visulaisation   </H1>

Our team decided to use Python for this purpose . A separate Python files has been attached and screen shots of those are attached to the Report

<H1>4) Data Wrangling  </H1>

4.1 Remove Duplicates - Location for the given Date uniquely identify the records . Hence lets use that

In [19]:
// Remove duplicates based on Date and Location

val weather_org_df_W1 =  weather_org_df_cast.distinct()
weather_org_df_W1.count()

weather_org_df_W1: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Date: date, Location: string ... 22 more fields]
res11: Long = 142193

In [20]:
val weather_org_df_W2 =  weather_org_df_cast.dropDuplicates(Seq("Date", "Location"))
weather_org_df_W2.count()

weather_org_df_W2: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Date: date, Location: string ... 22 more fields]
res12: Long = 142193

4.2  Convert blank columns into uniform notation so that imputation can be applied as uniform. As the data set is a time series data , imputing value will value can be  based 

    a) Regression
    b) Nearest Data set approach
    c) Splines (using MARS technique)
    d) Simplying imputing avaerage of that column (This wil not be correct as the weather data is wide spread across States)
    
    We have follwed nearest data apprach as it is one of the most suited

In [110]:
val weather_org_df_W2_impute= weather_org_df_cast.withColumn("MinTemp",when(col("MinTemp").isNull,lead("MinTemp",1).over(winp1)).otherwise(col("MinTemp")))
                              .withColumn("MaxTemp",when(col("MaxTemp").isNull,lead("MaxTemp",1).over(winp1)).otherwise(col("MaxTemp")))
                             .withColumn("Temp9am",when(col("Temp9am").isNull,lead("Temp9am",1).over(winp1)).otherwise(col("Temp9am")))
                             .withColumn("Temp3pm",when(col("Temp3pm").isNull,lead("Temp3pm",1).over(winp1)).otherwise(col("Temp3pm")))
                              .withColumn("Cloud9am",when(col("Cloud9am").isNull,lead("Cloud9am",1).over(winp1)).otherwise(col("Cloud9am")))
                            .withColumn("Cloud3pm",when(col("Cloud3pm").isNull,lead("Cloud3pm",1).over(winp1)).otherwise(col("Cloud3pm")))
                            .withColumn("Cloud3pm",when(col("Cloud3pm").isNull,lead("Cloud3pm",1).over(winp1)).otherwise(col("Cloud3pm")))
                            .withColumn("Humidity9am",when(col("Humidity9am").isNull,lead("Humidity9am",1).over(winp1)).otherwise(col("Humidity9am")))
                            .withColumn("Humidity3pm",when(col("Humidity3pm").isNull,lead("Humidity3pm",1).over(winp1)).otherwise(col("Humidity3pm")))
                            .withColumn("Pressure9am",when(col("Pressure9am").isNull,lead("Pressure9am",1).over(winp1)).otherwise(col("Pressure9am")))
                             .withColumn("Pressure9am",when(col("Pressure9am").isNull,lead("Pressure9am",1).over(winp1)).otherwise(col("Pressure9am")))
                            .withColumn("Pressure3pm",when(col("Pressure3pm").isNull,lead("Pressure3pm",1).over(winp1)).otherwise(col("Pressure3pm")))
                             .withColumn("WindGustSpeed",when(col("WindGustSpeed").isNull,lead("WindGustSpeed",1).over(winp1)).otherwise(col("WindGustSpeed")))
                            .withColumn("WindSpeed9am",when(col("WindSpeed9am").isNull,lead("WindSpeed9am",1).over(winp1)).otherwise(col("WindSpeed9am")))
                             .withColumn("WindSpeed3pm",when(col("WindSpeed3pm").isNull,lead("WindSpeed3pm",1).over(winp1)).otherwise(col("WindSpeed3pm")))
                             .withColumn("Rainfall",when(col("Rainfall").isNull,lead("Rainfall",1).over(winp1)).otherwise(col("Rainfall")))
                             .withColumn("Evaporation",when(col("Evaporation").isNull,lead("Evaporation",1).over(winp1)).otherwise(col("Evaporation")))
                             .withColumn("Sunshine",when(col("Sunshine").isNull,lead("Sunshine",1).over(winp1)).otherwise(col("Sunshine")))

weather_org_df_W2_impute: org.apache.spark.sql.DataFrame = [Date: date, Location: string ... 22 more fields]

In [111]:
weather_org_df_W2_impute.createOrReplaceTempView("Aus_Rain_Data1")  // Create table for easy manipulations

Test Imputation

In [113]:
spark.sql("select COUNT(*) from Aus_Rain_Data1 where MinTemp IS NULL ").show()
spark.sql("select COUNT(*) from Aus_Rain_Data where MinTemp IS NULL ").show()

+--------+
|count(1)|
+--------+
|     164|
+--------+

+--------+
|count(1)|
+--------+
|     637|
+--------+

Manage to remove null values for most of the columns . But it looks like null values exisit next to each others. We will handle this if necessary during the modeling

4.3  Removing Data set out side of the expected range ( Excluding Outliers)

In [114]:
val weather_org_df_W2_impute_R = weather_org_df_W2_impute.withColumn("MinTemp",when(col("MinTemp")<(-10),null).otherwise(col("MinTemp")))
            .withColumn("MinTemp",when(col("MinTemp")>(50),null).otherwise(col("MinTemp")))
            .withColumn("MaxTemp",when(col("MaxTemp")<(-10),null).otherwise(col("MaxTemp")))
            .withColumn("MaxTemp",when(col("MaxTemp")>(50),null).otherwise(col("MaxTemp")))
            .withColumn("Temp9am",when(col("Temp9am")<(-10),null).otherwise(col("Temp9am")))
            .withColumn("Temp9am",when(col("Temp9am")>(50),null).otherwise(col("Temp9am")))
            .withColumn("Temp3pm",when(col("Temp3pm")<(-10),null).otherwise(col("Temp3pm")))
            .withColumn("Temp3pm",when(col("Temp3pm")>(50),null).otherwise(col("Temp3pm")))
            .withColumn("Cloud9am",when(col("Cloud9am")<(0),null).otherwise(col("Cloud9am")))
            .withColumn("Cloud9am",when(col("Cloud9am")>(9),null).otherwise(col("Cloud9am")))
            .withColumn("Cloud3pm",when(col("Cloud3pm")<(0),null).otherwise(col("Cloud3pm")))
            .withColumn("Cloud3pm",when(col("Cloud3pm")>(9),null).otherwise(col("Cloud3pm")))
            .withColumn("Humidity9am",when(col("Humidity9am")<(0),null).otherwise(col("Humidity9am")))
            .withColumn("Humidity9am",when(col("Humidity9am")>(100),null).otherwise(col("Humidity9am")))
            .withColumn("Humidity3pm",when(col("Humidity3pm")<(0),null).otherwise(col("Humidity3pm")))
            .withColumn("Humidity3pm",when(col("Humidity3pm")>(100),null).otherwise(col("Humidity3pm")))
            .withColumn("Pressure9am",when(col("Pressure9am")<(970),null).otherwise(col("Pressure9am")))
            .withColumn("Pressure9am",when(col("Pressure9am")>(1050),null).otherwise(col("Pressure9am")))
            .withColumn("Pressure3pm",when(col("Pressure3pm")<(970),null).otherwise(col("Pressure3pm")))
            .withColumn("Pressure3pm",when(col("Pressure3pm")>(1050),null).otherwise(col("Pressure3pm")))
            .withColumn("WindGustSpeed",when(col("WindGustSpeed")<(0),null).otherwise(col("WindGustSpeed")))
            .withColumn("WindGustSpeed",when(col("WindGustSpeed")>(150),null).otherwise(col("WindGustSpeed")))
            .withColumn("WindSpeed9am",when(col("WindSpeed9am")<(0),null).otherwise(col("WindSpeed9am")))
            .withColumn("WindSpeed9am",when(col("WindSpeed9am")>(150),null).otherwise(col("WindSpeed9am")))
            .withColumn("WindSpeed3pm",when(col("WindSpeed3pm")<(0),null).otherwise(col("WindSpeed3pm")))
            .withColumn("WindSpeed3pm",when(col("WindSpeed3pm")>(150),null).otherwise(col("WindSpeed3pm")))
            .withColumn("Rainfall",when(col("Rainfall")<(0),null).otherwise(col("Rainfall")))
            .withColumn("Rainfall",when(col("Rainfall")>(500),null).otherwise(col("Rainfall")))
            .withColumn("Evaporation",when(col("Evaporation")<(0),null).otherwise(col("Evaporation")))
            .withColumn("Evaporation",when(col("Evaporation")>(100),null).otherwise(col("Evaporation")))
            .withColumn("Sunshine",when(col("Sunshine")<(0),null).otherwise(col("Sunshine")))
            .withColumn("Sunshine",when(col("Sunshine")>(15),null).otherwise(col("Sunshine")))

weather_org_df_W2_impute_R: org.apache.spark.sql.DataFrame = [Date: date, Location: string ... 22 more fields]

4.4 Extracting the month and day from the ‘Date’ field, and creating new columns for them. This would be used later during modeling

In [115]:
// Extract the month from the "Date" column and insert it as a new column

val weather_org_df_W2_impute_RM = weather_org_df_W2_impute_R.withColumn("Month",month(col("Date")))

weather_org_df_W2_impute_RM: org.apache.spark.sql.DataFrame = [Date: date, Location: string ... 23 more fields]

In [116]:
weather_org_df_W2_impute_RM.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: double (nullable = true)
 |-- MaxTemp: double (nullable = true)
 |-- Rainfall: double (nullable = true)
 |-- Evaporation: double (nullable = true)
 |-- Sunshine: double (nullable = true)
 |-- WindGustDir: string (nullable = true)
 |-- WindGustSpeed: double (nullable = true)
 |-- WindDir9am: string (nullable = true)
 |-- WindDir3pm: string (nullable = true)
 |-- WindSpeed9am: double (nullable = true)
 |-- WindSpeed3pm: double (nullable = true)
 |-- Humidity9am: double (nullable = true)
 |-- Humidity3pm: double (nullable = true)
 |-- Pressure9am: double (nullable = true)
 |-- Pressure3pm: double (nullable = true)
 |-- Cloud9am: double (nullable = true)
 |-- Cloud3pm: double (nullable = true)
 |-- Temp9am: double (nullable = true)
 |-- Temp3pm: double (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- RISK_MM: double (nullable = true)
 |-- RainTomorrow: string (nullable = true)
 |-- Month: integer (nullable = true)

4.5 Scaling of the following columns in order to get correct results in Modeling

4.5  Final out put cleaned file  - Save file

In [118]:
// Multiple Partition
weather_org_df_W2_impute_RM.write.format("csv").save("Weather_Cleaned_data.csv")

In [121]:
// Saving into Single partition
weather_org_df_W2_impute_RM.repartition(1).write.format("com.databricks.spark.csv").option("header", "true").save("weather_clean_dat.csv")